# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\General Registry\Work\FitnessTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
